<div id="<%= dom_id documentaryfilm %>">
  </tr>
    <th scope="row"><%= documentaryfilm.id %></th>
    <td><%= documentaryfilm.name %></td>
    <td><%= documentaryfilm.synopsis %></td>
    <td><%= documentaryfilm.director %></td>
  </tr>

</div>
